.ContentsWrapper {
    width:30vw;
    height:auto;
    margin: 2rem;
}

.imageWrapper {
    text-align: center;
    cursor: pointer;
    margin-top: 1rem;
}

.titleWrapper {
    text-align: center;
    margin-top:10px;
}

.titleWrapper:hover{
    color: orange;
}

.ButtonWrapper {
    text-align: center;
    margin-bottom: 30px;
}

.fadeIn {
    animation: fadeIn 1.5s linear both;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(100px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }